@{
    Layout = null;
}

@model List<string>

<!DOCTYPE html>
<head>
    <title>Home</title>
    <Link rel="stylesheet" href="~/css/home.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
</head>

<body>
<div class="iron-logo">
    <img src="~/images/iron_logo_new.png" alt="logo" width="100%"/>
</div>

<div class="workout-header">

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="workout-card">
        <div class="workout-select">
            <button class="workout-select-button" id="workout-select-button @i" OnClick="select_workout(@i)" Text="select"/>
        </div>
        <div class="workout-info">
            <div class="workout-logo">
                <img src="~/images/bench_wireframe.png" alt="logo"/>
            </div>
            <div class="workout">
                <h1>@Model[i]</h1>
                <div class="selectors">
                    <div class="selector-div">
                        <select name="Weight" class="selector">
                            <option value="10">10KG</option>
                            <option value="20">20KG</option>
                            <option value="30">30KG</option>
                            <option value="40">40KG</option>
                            <option value="50">50KG</option>
                            <option value="60">60KG</option>
                            <option value="70">70KG</option>
                            <option value="80">80KG</option>
                            <option value="90">90KG</option>
                            <option value="100">100KG</option>
                        </select>
                    </div>
                    <div class="selector-div">
                        <select name="Reps" class="selector">
                            <option value="5">5 Reps</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>


                        </select>
                    </div>
                    <div class="selector-div">
                        <select name="Sets" class="selector">
                            <option value="1">1 Set</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>

    }
    </div>
</body>



<script>
    function select_workout(i) {
        var div = document.getElementById("workout-select-button " + i);
        if (div.style.backgroundColor === "green") {
            div.style.backgroundColor = "grey";
        }
        else {
            div.style.backgroundColor = "green";
        }

    }

</script>