@model ChangePasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Change password</title>
    <Link rel="stylesheet" href="~/css/site.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
</head>

<body style="overflow: hidden">
<div class="iron-logo">
    <a asp-controller="Exercise" asp-action="Index">
    <img src="@Url.Content("~/images/iron_logo_new.png")" alt="logo" width="100%"/>
    </a>
</div>
<div class="wrapper">

    <form method="post" action="ChangePassword" class="login-form">
        @if (!ViewData.ModelState.IsValid)
        {
            <div id="error-message" style="color: white;">
                @foreach (var value in ViewData.ModelState.Values)
                {
                    foreach (var error in value.Errors)
                    {
                        <p style="margin:10px">@error.ErrorMessage</p>
                    }
                }
            </div>
        }

        <div class="input-box">
            <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" required/>
        </div>
        <div class="input-box">
            <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required/>
        </div>
        <div class="input-box">
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required/>
        </div>

        <div class="login-register">
            <input class="login-button" type="submit" value="Change password"/>
        </div>


    </form>
</div>
</body>