* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 0 6em black inset;
    pointer-events: none;
    z-index: 1000;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,1,68,1) 50%, rgba(0,79,149,1) 100%);
    background-attachment: fixed;
    font-family: "Anta", sans-serif;
    font-weight: 300;
}

.iron-logo {
    position:fixed;
    order:0;
    top:0;
    width: 40%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index:-1;
    margin-top:10px;
    margin-bottom:100px;
}

.iron-logo img {
    scale: 0.8;
    display: block;
    margin-left: auto;
    transition: 0.4s;
    -webkit-filter: drop-shadow(5px 5px 5px #300000);
    filter: drop-shadow(0px 10px 5px #300000);
}

.workout-header {
    width: 100%;
    max-width: 500px;
    justify-content: center;
    overflow: hidden;
    margin-top: 100px;
}

.workout-card {
    order: 2;
    margin: 20px 20px 20px 0;
    width: 100%;
    max-width: 500px;
    height: auto;
    /*max-height: fit-content;*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.workout-select {
    width: 50%;
    max-width: 40px;
    height: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.workout-select:hover{
    background-color: #5ab2c4;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);

}


.workout-select-button {
    width: 100%;
    max-height: 100%;
    background-color: transparent;
    border: none;
}

.workout-info {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #5ab2c4;
    box-shadow: 0 0 4px rgb(0, 255, 255);
    border-radius: 24px;
    margin: 10px;
    background-color: #003065d1;
}

.workout-selected {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #5ab2c4;
    box-shadow: 0 0 4px rgb(0, 255, 255);
    border-radius: 24px;
    margin: 10px;
    background-color: rgba(0, 24, 55, 0.9);
}

.workout-logo {
    width: 60%;
    max-width: 500px;
    height: 170px;
    margin: auto 5px auto auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    scale: 1.1;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="10" y="10" width="80" height="80"/></g></svg>');
}

.workout-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.workout-info h1 {
    text-align: left;
    color: white;
    width: 100%;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;

}


.workout {
    position: relative;
    width: 110%;
    max-width: 500px;
    /*display: flex;*/
    justify-content: center;
    overflow: hidden;
    outline:3px solid black;
    padding-left:10px;
}

.weight-reps-sets{
    margin-right:10px;
}

.workout-table {
    width: 50px;
    color: white;
    text-align: left;
    margin-left: 0;
    font-family: "Anta", sans-serif;
}

.weight-input {
    max-width: 75px;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    text-align: left;
    background: none;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    font-family: "Anta", sans-serif;
}

.reps-input {
    max-width: 75px;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
    text-align: left;
    background: none;
    border: 2px solid white;
    color: white;
    font-family: "Anta", sans-serif;
    font-weight: 600;
}

.workout-table table{
}

.selector-div h1 {
    text-align: left;
    color: white;
    font-size: 10px;
}

.selected {
    box-shadow: 0 0 5px rgb(0, 255, 255);
    border: 4px solid #5ab2c4;
    background-color: #00000065
}

.add-button{
    width: 40%;
    max-width: 300px;
    height: 100%;
    background-color: #5ab2c4;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 1s;
}

.del-button {
    width: 40%;
    max-width: 300px;
    height: 100%;
    background-color: transparent;
    border: 2px solid #5ab2c4;
    border-radius: 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 1s;
}

#add_workout{
    margin-bottom: 50px;
}
#add_workout a{
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: transparent;
    border: 2px solid #5ab2c4;
    border-radius: 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    transition: 0.4s;
}

#add_workout a:hover{
    background-color: #5ab2c4;
    color: black;
}

#save_workout{
    margin-bottom: 50px;
}
#save_workout a{
    width: 100%;
    max-width: 500px;
    height: 100%;
    background: rgba(1, 84, 178, 0.6);
    border: 2px solid #5ab2c4;
    box-shadow: 0 0 5px rgb(0, 255, 255);
    border-radius: 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    transition: 0.3s;
}

#save_workout a:hover{
    background-color: #5ab2c4;
    transform: translateY(1px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

#custom_exercise_input {
    width: 80%;
    max-width: 500px;
    height: 20%;
    background-color: transparent;
    border: 2px solid #5ab2c4;
    border-radius: 24px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    transition: 0.4s;
    font-size: 12px;
}

.back-arrow {
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: 2px solid #5ab2c4;
    border-radius: 24px;
    padding: 10px;
    align-items: center;
    height: auto;
    width: 75px;
    align-self: start;
    margin:50px;
}

#workout-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    height: 600px;
    background: rgba(0, 48, 101, 0.9);
    border: 2px solid #5ab2c4;
    box-shadow: 0 0 4px rgb(0, 255, 255);
    border-radius: 24px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    color: white;
}

#workout-info h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

#workout-info p {
    color: white;
    font-size: 16px;
    margin: 10px 40px;
}

#close-info {
    background: none;
    border:none;
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}


