* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 0 6em black inset;
    pointer-events: none;
    z-index: 1000;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,1,68,1) 50%, rgba(0,79,149,1) 100%);
    background-attachment: fixed;
    font-family: "Anta", sans-serif;
    font-weight: 300;
}

.workout-card{
    color: white;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: 20px;
}

.workout-logo {
    width: 40%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="5" y="5" width="90" height="90"/></g></svg>');
}

    .workout-logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
   
    }

.workout-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#del-button {
    width: 60%;
    max-width: 400px;
    height: 100%;
    background-color: transparent;
    border: 2px solid #5ab2c4;
    border-radius: 24px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    padding:10px;
    transition: 0.3s;

}

#del-button a {
    text-decoration: none;
    color: white;
}

#del-button:hover {
    background-color: #5ab2c4;
    color: black;
}

#del-button:active {
    background-color: #003065d1;
    color: white;
}
