@model IronApp.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <title>Register</title>
    <Link rel="stylesheet" href="~/css/site.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
</head>

<body>

<div class="iron-logo">
    <img src="images/iron_logo_new.png" alt="logo" width="100%"/>
</div>

<div class="wrapper">
    <form method="post" action="/Register/Index" class="login-form">

        <div class="input-box">
            <input asp-for="Username" type="text" id="username" name="username" placeholder="Username" required/>
        </div>
        <div class="input-box">
            <input asp-for="Email" type="email" id="email" name="email" placeholder="Email" required/>
        </div>
        <div class="input-box">
            <input asp-for="Password" type="password" id="password" name="password" placeholder="Password" required/>
        </div>
        <div class="input-box">
            <input asp-for="ConfirmPassword" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required/>
        </div>
        <div class="input-box">
            <input asp-for="DateOfBirth" type="date" id="dateOfBirth" name="dateOfBirth" placeholder="Date of birth" required/>
        </div>
        <div class="input-box">
            <input asp-for="Weight" type="number" id="weight" name="weight" placeholder="Weight (kg)" min="1" steps=".01" required/>
        </div>
        <div class="login-register">
            <div class="arrow-back">
                <a asp-controller="Login" asp-action="Index">←</a>
            </div>
            <input class="login-button" type="submit" value="Register"/>
        </div>

    </form>
</div>
</body>